@import "../../common/variables.scss";

.services {

	.text {
		@media (min-width: 0px) and (max-width: 1024px) {
			margin: 25px 0;
		}
	}
	.displayFlex {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.image-holder {
		img {
			position: static;
		}
	}
	.row.with-background {
		background-color: $little_boy_blue;
	}

	.row.with-background-odd {
		background-color: $almost_mauve;
	}

	.row.with-background-even {
		background-color: $lime_punch;
	}
}