@import "../../common/variables.scss";

.center {
	margin: 50px 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1, h3, p, button {
		text-align: center;
	}

	h3 {
		color: $blooming_dahlia;
		margin: 0 0 30px;
		font: {
			family: $san-serif;
			size: 20px;
		}
	}

	h1 {
		width: 75%;
		font: {
			family: $serif;
			weight: 700;
		}
	}
	p {
		margin: 0 100px 20px;
		font: {
			family: $san-serif;
		}
	}
}