@import "../../common/variables.scss";

.center {
	margin: 50px 0;
	@media (min-width: 0px) and (max-width: 1024px) {
		margin: 50px 10px;
	}
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1, h3, p, button {
		text-align: center;
		@media (min-width: 0px) and (max-width: 1024px) {
			text-align: left;
		}
	}

	h3 {
		color: $blooming_dahlia;
		margin: 0 0 30px;
		font: {
			family: $san-serif;
			size: 20px;
		}
	}

	h1 {
		width: 75%;
		@media (min-width: 0px) and (max-width: 1024px) {
			width: auto;
			margin: 0 5px 10px;
		}
		font: {
			family: $serif;
			weight: 700;
		}
		@media (min-width: 0px) and (max-width: 1024px) {
			font-size: 26px;
		}
	}
	p {
		margin: 0 100px 20px;
		@media (min-width: 0px) and (max-width: 1024px) {
			margin: 0 5px;
		}
		font: {
			family: $san-serif;
		}
	}
	.cta {
		@media (min-width: 0px) and (max-width: 1024px) {
			margin: 15px 0;
		}
	}
}