.image {
	.image-holder{
		margin: 50px;
		overflow: hidden;
		@media (min-width: 0px) and (max-width: 1024px) {
			margin: 0 -15px;
		}
		img {
			@media (min-width: 0px) and (max-width: 1024px) {
				position: relative;
				left: -195px
			}
		}
	}
}