@import "../../common/variables.scss";

.quote {
	text-align: center;
	.quote-holder {
		position: relative;
		margin: 50px 0;
		blockquote {
			position: relative;
			display: inline-block;
		    padding: 0 60px;
		    color: $chili_oil;
		    text-align: center;
		    margin: 0 0 5px 0;
		    width: 50%;
		    font: {
		    	size: 24px;
		    	family: $serif;
		    }
			&:before {
				left: -10px;
				content: '\201C';
				color: $almost_mauve;
			    font-size: 144px;
			    display: block;
			    width: 50px;
			    height: 100%;
			    position: absolute;
			    top: -50px;
			    font :{
			    	family: $serif;
			    	size: 144px;
			    }

			}
			&:after {
				right: 0;
    			content: '\201D';
    			color: $almost_mauve;
			     font :{
			    	family: $serif;
			    	size: 144px;
			    }
			    display: block;
			    width: 50px;
			    height: 100%;
			    position: absolute;
			   top: -50px;
			}
		}
		.attribution {
			font: {
				size: 18px;
				family: $san-serif;
			}
			color: $emperador;
		}
	}
}