@import "../../common/variables.scss";

.text {
	margin: 50px;
	@media (min-width: 0px) and (max-width: 1024px) {
		margin: 20px 0;
	}
	h3 {
		color: $blooming_dahlia;
		margin: 0 0 30px;
		font: {
			family: $san-serif;
			size: 20px;
		}
	}

	h1 {
		font: {
			family: $serif;
			weight: 700;
		}
	}
	p {
		font: {
			family: $san-serif;
		}
	}
}
