@import "../common/variables.scss";

nav {
	&.hiv-bg-light {
		background-color: $nav-background-color;
	}

	.navbar-brand {
		margin-right: 0.3rem !important;

		@media (max-width:1024px){
			.desktop {
				display: none;
			}
		}

		@media (min-width:1024px){
			.mobile {
				display: none;
			}
		}
	}

	.nav-link {
		text-transform: uppercase;
		color: $nav-font-color;
		font: {
			family: $san-serif;
			size: 14px;
		}
		&:hover, &.active {
			color: $blooming_dahlia;
			font: {
				weight: 900;
			}
		}
	}
}
