@import "../common/variables.scss";

footer {
	clear: both;
	background-color: $black;
	font: {
		family: $san-serif;
	}

	.nav-link {
		color: $white;
		text-transform: uppercase;
		font: {
			size: 12px;
		}
	}
	.list-inline {
		margin: 0.5rem 0;
	}

	.copyright {
		color: $white;
		text-transform: uppercase;
		padding: 0.5rem 0;
		margin: 0.5rem 0;
		font : {
			family: $san-serif;
			size: 12px;
		}
	}
}