@import "../common/variables.scss";

footer {
	clear: both;
	background-color: $black;
	font: {
		family: 'Montserrat', sans-serif;
	}

	.nav-link {
		color: $white;
		text-transform: uppercase;
		font: {
			size: 12px;
		}
	}

	.copyright {
		color: $white;
		text-transform: uppercase;
		padding: 0.5rem 0;
		font : {
			size: 12px;
		}
	}
}